<form [formGroup]="productoForm" (ngSubmit)="enviarInfo()">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre de la publicación" formControlName="nombre">
  </div>
  <div class="form-group">
    <label>Descripcion</label>
    <input type="text" class="form-control" placeholder="Descripcion" formControlName="descripcion">
  </div>
  <div class="form-group">
    <label>Precio</label>
    <input type="number" class="form-control" placeholder="Precio" formControlName="precio">
  </div>
  <div class="form-group">
    <label>Imagen</label>
    <input type="file" class="form-control" placeholder="imagen" formControlName="imagen"
      (change)="handleUpload($event)">
  </div>
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
